@require '../src/poly-fluid-sizing'

:root
  font-family: Open Sans, Arial, sans-serif

main
  poly-fluid-sizing('padding', {'30rem': 1rem, '50rem': 3rem})

h1
  poly-fluid-sizing('font-size', {'30rem': 2rem, '50rem': 3rem, '60rem': 4rem})

p
  poly-fluid-sizing('font-size', {'30rem': 1rem, '50rem': 1.5rem})

.stress-test
  poly-fluid-sizing('font-size', {
    '10rem': 1rem,
    '20rem': 5rem,
    '30rem': 1rem,
    '40rem': 5rem,
    '50rem': 1rem,
    '60rem': 5rem,
    '70rem': 1rem,
    '80rem': 5rem,
    '90rem': 1rem,
    '1000rem': 5rem,
  })